__pycache__/
.venv/
src/trackdlo_examples/.uv-cache/
.vscode/
build/
build_win/
build_standalone/
install/
install_win/
install_standalone/
log/
# data/output/*.png
data/output/*/*.json
data/*.bag
# data/
test.cpp
